@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/* The button container */
body{
    background: #232528;
    color: #dfe6e9;
    margin: 0;
    padding: 0;
}

.calculator-grid{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(20%, auto) repeat(5, 15%);   
    justify-content: center;
    min-height: 75vh;
    margin: 0 10%;

}
@media only screen and (max-width: 800px){
    .calculator-grid{
        padding: 0 10px;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: minmax(15%, auto) repeat(5, 15%);   
        justify-content: center;
        min-height: 55vh;

    }
}

.calculator-grid > button {
    
    border: 1px solid rgba(223, 230, 233, .75);
    background-color: rgba(00, 116, 185,.75);
    color: #dfe6e9;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 60px;
    outline: none;
    text-align: center;
}
  
.calculator-grid > button:hover {
    background-color: #dfe6e9;
    color: black;
    transform: scale(1.05);
    transition: transform .1s;
}
 
h1{
    text-align: center;
    font-size: 3rem;
} 

.two-spaces{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    background-color: #9b9b9d;
    border-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display .previous{
    color: rgba(255, 255, 255, .5);
    font-size: 1rem;
}
.display .current {
    color: white;
    font-size: 1.5rem;
}